#popular {
  padding: 50px 0;
  .popular {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 9rem;
    &--card {
      width: 25%;
      text-align: center;
      img {
        width: 100%;
        border-radius: 17px;
        -webkit-box-shadow: 0px 0px 76px 30px rgba(7, 90, 176, 1);
        -moz-box-shadow: 0px 0px 76px 30px rgba(7, 90, 176, 1);
        box-shadow: 0px 0px 76px 30px rgba(7, 90, 176, 1);
      }
      h2 {
        margin-top: 20px;
      }
    }
  }
}